# R basics
.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.DS_Store
.quarto

# Ignore common data formats
*.csv
*.gz
*.txt
*.rds
*.zip
*.pptx
*.tfl
*.twb
*.twbx
*.tbs
*.tbm
*.hyper
*.sql
*.parquet
*.svg
*.dfx
*.json
*.dta
*.shp
*.dbf

# Ignore these project folders completely
AI/*
GIS/*
Graphics/*
Data/*

# Ignore all contents of Dataout except explicitly whitelisted files
Dataout/*
!Dataout/.gitkeep
!Dataout/*.xlsx
!Dataout/README.md
/.quarto/

**/*.quarto_ipynb
